*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Roboto","Noto sans","Helvetica",sans-serif;
    font-size: 14px;
    background-color: white
    
}

.calc{
    width: 400px;
    height: 500px;
    background: rgb(20, 17, 17);
    margin-left: 300px;
    margin: 70px auto 0;
    overflow: hidden;
    box-shadow: 4px 4px rgba(0, 0, 0, 2);

    
}
#screen{
    width: 85%;
    height: 40px;
    margin-left: 36px;
    margin-top: 30px;
    pointer-events: none;

}
.btn{
    width: 45px;
    height: 45px;
    margin-top: 30px;
    margin-left: 40px;
    background: white;
    cursor: pointer;
    
}
.btn:hover{
    background-color: gray;
}